<div class="question-detail">
    <header style="display:none">
        <div class="top container-fluid">
            <div class="col-xs-3 col-sm-3">
                <a href="#!/questions"><span class="back" style="display:inline-block;"></span></a>
            </div>
            <div class="col-xs-6 col-sm-6 pageTitle">
                <p class="text-center">问题详情</p>
            </div>
        </div>
    </header>

    <section class="question">
        <div class="title">{{$ctrl.question.title}}
            <div class="course"><span class="label label-info">{{$ctrl.question.course}}</span></div>
        </div>
        <div>
            <div class="bar">
                <span class="author">{{$ctrl.question.author}}</span> 发布于
                <span>{{$ctrl.question.date|date:"yyyy-MM-dd hh:mm" }}</span>&nbsp;&nbsp;
                <span>{{$ctrl.question.veiws}}</span><span style="color:#26629b;">阅读</span>
            </div>
        </div>
        <div class="description">
            {{$ctrl.question.description}}
        </div>
        <div class="container-fluid">
            <div class="col-xs-6 col-md-3 question-ImgDiv" ng-repeat="questionImg in $ctrl.question.questionImgs">
                <img class="question-Img" src="{{questionImg}}">
            </div>
        </div>
    </section>

    
    <div class="answerNum">共<span>{{$ctrl.question.answersInfo.length}}</span>条回答</div>    
    <section class="answers">
        <div ng-repeat="answer in $ctrl.question.answersInfo">
            <!-- <div class="user-avatar"><img src="{{answer.userAvatar}}"/></div> -->
            <div class="user-name">{{answer.userName}}</div>
            <div class="answer-date">{{answer.answerDate}}</div>
            <div class="answer-text">{{answer.answerText}}</div>
            <!-- <div class="answer-images" ng-repeat="answerImg in answer.answerImgs"><img src="{{answerImg}}"/></div> -->
            <div class="answer-support">{{answer.support}}</div>
        </div>


    </section>



</div>