<!--
    返回键 搜索框 搜索按钮  //搜索框内最右边有清零小按钮
    课程分类：数学 语文 英语 ...   // 左右滑动，actived样式，下滑隐藏、置顶按钮现
    排序：（默认）发布时间（降升）    浏览次数（降升）   回答人数（降升） //点击升或降
    内容：
    右下角加号添加问题
 -->


 <!-- 
     缺少组件：分页特效 搜索框检索 按课程分类 
     可选择：上滑刷新问题列表 滑动选择课程的编辑按钮 右上角扩展按钮 
  -->
<div class="question-list">
    <!-- 头部导航栏 -->
    <header class="header">
        <div class="top container-fluid">
            <div class="col-xs-3 col-sm-3">
                <a href="#"><span class="back" style="display:inline-block;"></span></a>
            </div>
            <div class="col-xs-6 col-sm-6 pageTitle">
                <p class="text-center">问题交流区</p>
            </div>
            <div class="col-xs-3 col-sm-3 text-right">
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger" style="color:#8a8a8a"></span></a>
            </div>
        </div>
    <!-- 问题列表 -->
        <div class="bottom container-fluid">
            <input class="pull-left btn btn-default searching" type="text" ng-model="$ctrl.search" placeholder="请输入搜索内容...">
            <div class="course ">
                <div class="swiper-container pull-left">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active">
                            语文
                        </div>
                        <div class="swiper-slide">
                            数学
                        </div>
                        <div class="swiper-slide">
                            英语
                        </div>
                        <div class="swiper-slide">
                            物理
                        </div>
                        <div class="swiper-slide">
                            化学
                        </div>
                        <div class="swiper-slide">
                            生物
                        </div>
                        <div class="swiper-slide">
                            体育
                        </div>
                    </div>
                </div>
                <div class="dropdown pull-right">
                    <button class="dropdown-toggle" data-toggle="dropdown" role="button">
                        排序
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="sort1"><a ng-click="$ctrl.orderByDate()">发布时间(默认)</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="sort2"><a ng-click="$ctrl.orderByVeiws()">访问人数</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="sort3"><a ng-click="$ctrl.orderByAnswerNum()">回答人数</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

    <div class="question">
        <div ng-repeat="(questionId,question) in $ctrl.questions | orderBy:$ctrl.orderProp:$ctrl.isDescending">
            <div class="panel">
                <div class="panel-body">
                    <a href="#!/questions/{{questionId}}">
                        <div class="pull-left title " ng-show="question.title.length > 25" >{{question.title | limitTo:25}}...</div>
                        <div class="pull-left title " ng-show="question.title.length < 26" >{{question.title | limitTo:25}}</div>
                    </a>
                    <div class="clearfix"></div>
                    <article class="hidden-xs hidden-sm " ng-show="question.description.length > 35">{{question.description
                        | limitTo:35 }}...</article>
                    <article class="hidden-xs hidden-sm " ng-show="question.description.length < 36">{{question.description
                        | limitTo:35 }}</article>
                    <div class="pull-left attr">
                        <span class="author">{{question.author}}</span> 发布于
                        <span>{{question.date|date:"yyyy-MM-dd hh:mm"}}</span>
                        <span>{{question.veiws}}</span>阅读
                        <span>{{question.answersInfo.length}}</span>回答
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- 分页功能 -->
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="fixed-btn">
            <button class="go-top"></button>
            <a class="add-question" href="#!/questions/questionForm"></a>
    </div>
</div>

<script>

    $(".swiper-slide").click(function () {
        $(".swiper-wrapper .swiper-slide.active").removeClass("active");
        $(this).addClass("active");
    })

    $(".sort1").click(function(){
        goTop()
    })
    $(".sort2").click(function(){
        goTop()
    })
    $(".sort3").click(function(){
        goTop()
    })
    $(".go-top").click(function(){
        goTop()
    })
    var goTop = function(){
        $("html,body").finish().animate({"scrollTop":"0px"},300);
    }

    //swiper导航栏
    var mySwiper = new Swiper('.swiper-container', {
        loop: false, // 循环模式选项
        width: 50,

    })
    
    
    //滚动效果
    var sTop1 = $(window).scrollTop();
    $(window).scroll(function () {
        var sTop2 = $(window).scrollTop();
        if ($(this).scrollTop() >= 100) {
            $("header").addClass("on")
            if (sTop1 < sTop2) {
                $(".go-top").css({display:"block"})
                $("header").css({ top: -65 })
            } else if (sTop1 > sTop2) {
                $("header").css({ top: 0 })
            }else{
                sTop1 = $(window).scrollTop();
            }
        } else {
            $(".go-top").css({display:"none"})
            $("header").removeClass("on")
            $("header").css({ top: 0 })
        }
        sTop1 = sTop2;
    })
</script>